# == DB environments ==============
POSTGRES_USER=app_user
POSTGRES_PASSWORD=app_pass
POSTGRES_DB=provedcode
# == Backend environments =========
DB_URL=db:5432/provedcode
SPRING_PROFILES_ACTIVE=prod
# == Frontend environments ========
REACT_APP_BACKEND_URL=http://localhost:8080
REACT_APP_BASE_URL=http://localhost:8080
